

@import '../../style-variables/style-variables.styles.scss';

.landing {
    display: flex;
    justify-content: space-between;
    // gap: 10rem;
    flex-wrap: wrap-reverse;
    padding-right: 10rem;
    padding-left: 14rem;
    position: relative;
    padding-top: 13rem;

    &__left{
        font-family: $font-family;
        display: flex;
        flex-direction: column;
        padding-top: 7vh;
        max-width: 34vw;
        .landingbuttonsdiv{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }
        .h1{
            font-size: 5rem;
            font-weight: $medium-font;
            color: $very-dark-blue;
            margin-bottom: 0;
        }
        .parag{
            color: $grayish-blue;
            font-size: 2.1rem;
        }
    }


    .landingrightside{

        &::before {
            content: '';
            position: absolute;
            background-color: $soft-blue;
            width: 60rem;
            height: 35rem;
            right: 0;
            bottom: 0;
            z-index: -1;
            border-bottom-left-radius: 25rem;
        }

        .hero {
            width: 100%;
            height: auto;
        }
        
    }

    
    
}


// @media (max-width:1000px) {
//     .landingdiv {
//         display: flex;
//         flex-direction: column;
//         gap: 2rem;
//         flex-wrap: wrap-reverse;
//     }
// }
