@import '../../style-variables/style-variables.styles.scss';

.hamburger-menu {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
      background-color: $very-dark-blue;
      width: 100%;
      height: 100vh; /* fallback for Js load */
      height: var(--doc-height);
      opacity: 0.9;
      padding-top: 8rem;

      .items{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            a{
                  font-size: 6rem;
                  color: white;
                  font-family: $font-family;
                  text-decoration: none;
                  text-align: center;
                  letter-spacing: 0.8rem;
                  font-weight: 100;
                  padding-top: 6rem;
                  padding-bottom: 6rem;
            }
            .loginbtn{
                  background-color: transparent;
                  font-size: 6rem;
                  font-family: $font-family;
                  letter-spacing: 0.8rem;
                  font-weight: $regular-font;
                  color: white;
                  border: 6px solid white;
                  border-radius: 12px;
                  margin-top: 8rem;
                  height: 14rem;
                  -webkit-border-radius: 12px;
                  -moz-border-radius: 12px;
                  -ms-border-radius: 12px;
                  -o-border-radius: 12px;
}
            .solid{
                  width: 100%;
                  border-top: 1px solid #bbb;
            }
            .header{
                  display: flex;
                  justify-content: space-between;
                  height: 7rem;
                  margin-bottom: 10rem;
                  img{
                        height: 100%;
                  }
            }
            .logos{
                  display: flex;
                  justify-content: center;
                  position: relative;
                  top:0;
                  height:7rem;
                  img{
                        height: 100%;
                  }
            }
      }      
}
