@import '../../style-variables/style-variables.styles.scss';

.sml-btn {
      color: lighten($grayish-blue, 50);
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      font-family: $font-family;
      font-size: 1.2rem;
      letter-spacing: 3px;
      border-radius: 3px;
      text-decoration:none;
      

}

.sml-red-btn {
      background-color: $soft-red;
      box-shadow: 0 .4rem .6rem -.2rem $grayish-blue;
}

.sml-blue-btn {
      background-color: $soft-blue;
}