// colors

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0,94%,66%);
$grayish-blue:hsl(229,8%, 60%);
$very-dark-blue: hsl(229,31%,21%);

// typhography

$ten-px: 62.5%;

// font-family

$font-family: 'Rubik', sans-serif;

// font-weights

$regular-font: 400;
$medium-font: 500;


