@import '../../style-variables/style-variables.styles.scss';

.md-btn {
      color: lighten($grayish-blue, 60);
      text-align: center;
      padding: 1.6rem 2.8rem;
      cursor: pointer;
      border: none;
      font-family: $font-family;
      font-size: 1.2rem;
      font-weight: $medium-font;
      // letter-spacing: .3rem;
      border-radius: .5rem;
      text-decoration:none;

}

.md-blue-btn {
      background-color: $soft-blue;
      color: #ffffff;
}

.md-grey-btn {
      background-color: lighten($grayish-blue, 35);
      color: lighten($very-dark-blue, 10)
}