@import '../../style-variables/style-variables.styles.scss';
.nav {
      
      position: relative;
      background-color:#fff;
      display: flex;
      justify-content: space-between;
      padding: 2.5rem 14rem;

      @media  (max-width: 1024px) {
            display: flex;
            gap: 5rem;
            justify-content: center;
            align-items: center;
            padding: 2.5rem 0;
            
      }

      @media  (max-width: 400px) {
            display: flex;
            justify-content: center;
            align-items: center;

      }

      @media  (max-width: 300px) {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
      }


      .header-logo {
            display: flex;
            justify-content: center;
            align-items: center;
      }
     
      .header-routes {
            display: flex;
            flex-direction: row;
        
            
            &__element {
                  color: $very-dark-blue;
                  padding: 1rem 3rem;
                  text-transform: uppercase;
                  cursor: pointer;
                  border: none;
                  font-family: $font-family;
                  font-size: 1.2rem;
                  letter-spacing: .2rem;
                  border-radius: .3rem;
                  text-decoration:none;

                  &:hover {
                        color: $soft-red;
                  }
            }
      }


      .hamburger-wrapper {
            
            display: none;
            align-items: center;
            cursor: pointer;
      }


      
}



@media  (max-width: 1000px) {
     .nav {
           .hamburger-wrapper {
                 display: flex;
           }
      
           .header-routes {
                display: none;
           }
     }
     
}