@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import './style-variables/style-variables.styles.scss';
html {
      font-size: $ten-px;
}

* {
      box-sizing: border-box;  
}

body {
      margin: 0;
      padding: 0;
     
}


